body {
  text-align: center;
}

.transcripts-area {
  border: 1px solid black;
  margin-top: 10px;
}

.lobby {
  border: 1px solid black;
  margin: auto;
  width: 75%;
}

.transcripts {
  width: 100%;
}

.content {
  text-align: right;
}

.name {
  text-align: right;
}
